@import "tailwindcss";

/* 
sm	 (640px)
md	 (768px)	
lg	 (1024px)	
xl   (1280px)	
2xl  (1536px) 

font-light	  300
font-normal	  400
font-medium	  500
font-semibold 600
font-bold     700
*/

@theme {
    --font-h: 'Poppins', 'sans-serif';
    --font-p: 'DM Sans', 'sans-serif';
    --font-logo: 'Cookie', 'cursive';
}

/* Estilos Gerais */
@layer base {
    h1 {
        @apply font-h text-neutral-900 font-semibold text-[1.400em] sm:text-[1.415em] 
        md:text-[1.422em] lg:text-[1.436em] xl:text-[1.450em] 2xl:text-[1.464em];
    }
    h2 {
        @apply w-full mb-6 sm:text-center font-h font-normal text-neutral-500 text-[1.040em] sm:text-[1.046em] md:text-[1.049em] lg:text-[1.054em] xl:text-[1.06em] 2xl:text-[1.066em];
    }
    p {
       @apply text-neutral-800 text-[1.150em] sm:text-[1.154em] md:text-[1.157em] lg:text-[1.161em] xl:text-[1.165em] 2xl:text-[1.169em];
    }
    div{
     @apply rounded-sm;
    }
    button{
     @apply font-h flex items-center justify-center box-border rounded-sm font-normal text-neutral-800;
    }
}

.h1-sizes {
    @apply text-[1.400em] sm:text-[1.415em] md:text-[1.422em] lg:text-[1.436em] xl:text-[1.450em] 2xl:text-[1.464em];
}

.f600{
    @apply font-semibold ;
}

/*Estilos de Componentes*/
.button-square {
    @apply flex justify-center items-center w-11 h-11 rounded-sm;
}
.p-button {
    @apply font-h text-[1.128em] sm:text-[1.134em] md:text-[1.140em] lg:text-[1.154em] xl:text-[1.174em] 2xl:text-[1.180em] font-normal leading-none;
}

/* Encurtadores */

.centralize {
    @apply flex justify-center items-center;
}

.abso{
    @apply absolute top-0 left-0;
}
.crop{
    @apply overflow-hidden;
}

.trans{
   @apply transition-all duration-300;
}

.fast-trans{
   @apply transition-all duration-200;
}

.bs {
    @apply border border-black;
}

.br-sm{
    @apply rounded-sm; 
}
.br-50{
    @apply rounded-[50%]; 
}

.border{
    @apply border border-gray-300;
}